@font-face {
    font-family: "KG Traditional Fractions", "Roundo SemiBold";
}

#pane {
    -fx-background-color: #669999;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#recordTable .column-header .label {
    -fx-text-fill: white;
}

#recordTable .column-header {
    -fx-background-color: #424141;
}

#recordTable .scroll-bar:horizontal .increment-arrow,
#recordTable .scroll-bar:horizontal .decrement-arrow,
#recordTable .scroll-bar:horizontal .increment-button,
#recordTable .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

#totalAmountText {
    -fx-font-family: "KG Traditional Fractions";
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 50;
}

.button {
    -fx-border-color: #e0e0d1;
    -fx-border-width: 1.5;
    -fx-background-radius: 0;
    -fx-background-color: #c2c2a3;
    -fx-text-fill: white;
    -fx-font-family: "Roundo SemiBold";
    -fx-font-size: 13;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #5c5c3d;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #424141;
}

.combo-box-base {
    -fx-background-color: #c2c2a3;
    -fx-border-color: white;
    -fx-border-width: 1 1 1 1;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #5c5c3d;
}

#filterBox .list-cell {
    -fx-background: #c2c2a3;
    -fx-font-family: "Roundo SemiBold";
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-padding: 4px;
}

.radio-button .dot {
    -fx-mark-color: #424141;
    -fx-padding: 3px;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #424141;
}