@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500');

* {
    -fx-main-color: #248f8f;
    -fx-button-color: #124848;
    -fx-header-color: #092424;
}

#pane {
    -fx-background-color: -fx-main-color;
}

.label {
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#recordTable {
    -fx-border-width: 0;
}

#recordTable:focused {
    -fx-focus-color: transparent;
}

#recordTable .column-header .label {
    -fx-text-fill: white;
}

#recordTable .column-header {
    -fx-background-color: -fx-header-color;
    -fx-font-size: 18;
}

#recordTable .scroll-bar:horizontal .increment-arrow,
#recordTable .scroll-bar:horizontal .decrement-arrow,
#recordTable .scroll-bar:horizontal .increment-button,
#recordTable .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

#totalAmountText {
    -fx-font-family: 'Patrick Hand SC', cursive;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 50;
    -fx-effect: dropshadow(gaussian, -fx-header-color, 0, 0, 0, 1);
}

.button {
    -fx-border-width: 0;
    -fx-border-radius: 2;
    -fx-background-color: -fx-button-color;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto', 'Noto', sans-serif;
    -fx-font-size: 15;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 2, 0, 0, 1);
}

.button:hover {
    -fx-background-color: -fx-header-color;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: -fx-header-color;
}

.combo-box-base {
    -fx-background-color: -fx-button-color;
    -fx-border-radius: 1;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -fx-header-color;
}

#filterBox .list-cell {
    -fx-background: -fx-button-color;
    -fx-font-family: 'Roboto', 'Noto', sans-serif;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.date-picker {
    -fx-border-width: 0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-header-color;
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-button-color;
}

.text-field {
    -fx-border-width: 1;
    -fx-border-color: -fx-header-color;
}

.text-field:focused {
    -fx-faint-focus-color: transparent;
}

#itemErrorText, #amountErrorText, #dateErrorText {
    -fx-fill: -fx-header-color;
}