#pane {
    -fx-background-color: #00cc99;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#recordTable .column-header .label {
    -fx-text-fill: #805500;
}

#recordTable .scroll-bar:horizontal .increment-arrow,
#recordTable .scroll-bar:horizontal .decrement-arrow,
#recordTable .scroll-bar:horizontal .increment-button,
#recordTable .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

#totalAmountText {
    -fx-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #33cc59;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #155124;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #001a00;
}

.combo-box-base {
    -fx-background-color: #33cc59;
    -fx-border-color: white;
    -fx-border-width: 1 1 1 1;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #155124;
}

#filterBox .list-cell {
    -fx-background: #33cc59;
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-padding: 4px;
}

.radio-button .dot {
    -fx-mark-color: #805500;
    -fx-padding: 3px;
}